{% extends "base.html" %}
{% load static %}
{% block title %} Projects {% endblock %}
{% block content%}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Projects</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'about' %}">About Us</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


 <!-- Service Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5" style="color: #198754;font-family: Georgia;">Excellence Projects</h1>
        </div>
        <div class="row g-4">
            {% for post in object_list %}
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <a href="{% url 'projects_detail' post.pk %}">
                        <img class="img-fluid" src="{{ post.projects_magnus_img.url }}" style="height: 230px; width: 100%; object-fit: cover;border-radius: 5px;"alt="">
                        </a>
                    </div> 
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <a href="{% url 'projects_detail' post.pk %}">
                        <h3 class="text-primary fw-medium mb-2">{{ post.projects_title|truncatechars:20}}</h3>
                        </a>
                        <p>{{ post.projects_description|truncatechars:100}}</p>
                        <a class="fw-medium" href="{% url 'projects_detail' post.pk %}">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->

{% endblock %}